{% extends 'base.html' %}


{% block home %}
Редактировать статью
{% endblock %}

{% block title %}
<title>Редактировать статью</title>
{% endblock %}

{% block body %}
<form method="post">
    <input type="text" name="title" id="title" class="form-control" placeholder="Название статьи" value="{{ post.title }}"><br>
    <input type="text" name="header" id="header" class="form-control" placeholder="Заголовок статьи" value="{{ post.header }}"><br>
    <textarea name="text" id="text" cols="" rows="" class="form-control" placeholder="Текст статьи">{{ post.text }}</textarea><br>
    <input type="submit" class="btn btn-outline-primary" value="Отправить">
</form>
{% endblock %}