{% extends 'base.html' %}

{% block title %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/script_test.js"></script>
{% endblock %}


{% block body %}
<h1>{{ post.title }}</h1>
<h2>{{ post.header }}</h2>
<h3>Дата создания: {{ moment(post.post_creation_date, local=False).format('HH:mm | D MMMM YYYY года', refresh=False) }}</h3>
<p>{{ post.text }}</p>
<div class="add_comments">
    <h1>Комментарии</h1>
    {% if current_user.is_authenticated %}
    <form method="post">
    <textarea name="text" id="text" cols="" rows="" class="form-control" placeholder="Комментарий" required=""></textarea>
    <input type="submit" class="btn btn-outline-primary" value="Отправить">
    <script>
        var forms = document.querySelector('form');
        forms.addEventListener('submit', function(){
        var btn = this.querySelector("input[type=submit], button[type=submit]");
        btn.disabled = true;
        });
    </script>
    {% else %}
        <a href="/login?next={{ request.path }}">Войдите</a> или <a href="/register">зарегистрируйтесь</a>, чтобы оставить комментарий
    {% endif %}
</form>
</div>

<div class="comments">
{% for comment in comments %}
<div class="card">
  <div class="card-header">
    {{ comment.user_name }}
  </div>
    <div>{{ moment(comment.comment_creation_date, local=False).format('HH:mm | D MMMM YYYY года', refresh=False) }}</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ comment.text }}</p>
    </blockquote>
  </div>
</div>
{% endfor %}
</div>


{% endblock %}
