{% extends 'base.html' %}


{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<form method="post">
  <input type="text" name="login" id="login" class="form-control" placeholder="Логин"><br>
  <input type="password" name="password" id="password" class="form-control" placeholder="Пароль"><br>
  <input type="submit" class="btn btn-outline-primary" value="Войти">
</form>
{% endblock %}