{% extends 'base.html' %}


{% block home %}
Создать статью
{% endblock %}

{% block title %}
<title>Создать статью</title>
{% endblock %}

{% block body %}
<form method="post">
    <input type="text" name="title" id="title" class="form-control" placeholder="Название статьи" required=""><br>
    <input type="text" name="header" id="header" class="form-control" placeholder="Заголовок статьи" required=""><br>
    <textarea name="text" id="text" cols="" rows="" class="form-control" placeholder="Текст статьи" required=""></textarea><br>
    <input type="submit" class="btn btn-outline-primary" value="Отправить">
    <script>
        var forms = document.querySelector('form');
        forms.addEventListener('submit', function(){
        var btn = this.querySelector("input[type=submit], button[type=submit]");
        btn.disabled = true;
        });
    </script>
</form>
{% endblock %}