{% extends 'base.html' %}



{% block row %}
{% block body %}
{% for el in pages.items %}
<div class="">
    <div class="card mb-4 shadow-sm" style="">
        <div class="card-body d-flex flex-column">
            <h4 class="card-title">{{ el.title }}</h4>
            <p class="card-text">{{ el.header }}</p>
            <a class="btn btn-primary btn-lg mt-auto" href="./{{ el.post_id }}">Редактировать</a>
            <form action="/admin/delete_article/{{ el.post_id }}">
                <input class="btn btn-danger btn-lg mt-auto" type="submit" onclick="this.disabled=true;this.parentElement.submit()" value="Удалить">
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue justify-content-center">
    <li {% if not pages.has_prev %} class="page-item disabled" {% endif %}>
      <a class="page-link" href="./?page={{ pages.prev_num }}">Назад</a>
    </li>
    {% for page in pages.iter_pages() %}
     <li {% if page == pages.page %} class="page-item active" {% endif %}>
      <a class="page-link" href="./?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a>
    </li>
    {% endfor %}


    <li {% if not pages.has_next %} class="page-item disabled" {% endif %}>
      <a class="page-link" href="./?page={{ pages.next_num }}">Следующая</a>
    </li>
  </ul>
</nav>
{% endblock %}